spring:
  application:
    name: authorization-server
  cloud:
    vault:
      uri: http://localhost:8200
      token: ${VAULT_TOKEN}
      fail-fast: true
      kv:
        enabled: true
        application-name: ecommerce,authorization-server
        profiles: dev
        backend: kv
  config:
    import: optional:vault://
  mail:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    protocol: smtp
    test-connection: false
server:
  servlet:
    context-path: /authorization-server